header {
  border: solid 3px gray;
  margin-bottom: -16px;
}

nav {
  border-left: solid 3px gray;
  border-right: solid 3px gray;
  margin-bottom: -16px;
}

article {
  border: solid 3px gray;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: black;
  gap: 10px;
  padding: 10px;
}

header h1 {
  color: rgb(45, 201, 31);
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 40px;
}

nav ul {
  display: grid;
  grid-template-columns: 14% 14% 14%;
  gap: 5px;
  margin-left: -40px;
}

nav li {
  text-align: center;
  background-color: rgb(45, 201, 31);
  list-style-type: none;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: yellow;
  font-size: 17px;
}

nav li:hover {
  background-color: rgb(139, 233, 85);
}

article div {
  padding: 4px;
  color: white;
  text-align: center;
  border: solid 1px rgb(206, 206, 206);
}

article img {
  width: 100%;
  max-width: 120px;
  padding-left: 5px;
}

article div:nth-child(1) {
  order: 10;
  grid-column-start: 5;
  grid-row-start: 2;
  grid-column-end: 6;
  grid-row-end: 5;
}

article div:nth-child(2) {
  order: 3;
}

article div:nth-child(3) {
  order: 6;
}

article div:nth-child(4) {
  order: 1;
}

article div:nth-child(5) {
  order: 7;
}

article div:nth-child(6) {
  order: 2;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 6;
  grid-row-end: 2;
}

article div:nth-child(7) {
  order: 8;
}

article div:nth-child(8) {
  order: 9;
}

article div:nth-child(9) {
  order: 4;
  order: 2;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 4;
}

article div:nth-child(10) {
  order: 5;
}
